* {
    box-sizing: border-box;
}

body{
    background-image: url(https://img.mediacentrum.sk/gallery/nwo/maxwidth/990/1672561.jpg);
    background-size: cover;
    color:whitesmoke;
}
#container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

header > div {
    display: inline-block;
    padding-left: 30px;
}

img {
    height: 80px;
    border-radius: 50%;
}

h1 {
    margin:0;
}


.about {
    display: inline-block;
    width: 500px;
    position: relative;
    vertical-align: top;
}

.articles {
    display: inline-block;
    width: 645px;
    border-left: 1px solid black;
    padding-left: 30px;
}
